.Card-container {
  display: flex;
  align-items: center;
  align-self: center;
  padding: 8px;
  width: 80%;
  height: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border: 0.5px solid #b1afaf;
}
.Icon-and-Name-Container {
  display: flex;
}
.Name {
  margin-left: 5px;
}
.icon-green {
  color: green;
}
.icon-gray {
  color: #918f8f;
}
.icon-black {
  color: black;
}
